﻿@model Softversko2.EStore.Web.Areas.Administrations.Models.CategorySinglePageViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kreiranje/izmena podataka o Tipu sata</h2>
<hr />

@if (Model.Success)
{
    using (Html.BeginForm("Edit", "Category", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(x => x.CategoryViewModel.CategoryId)
        <div class="form-group">
            <label class="control-label col-md-2">Ime tipa sata:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.CategoryViewModel.Name, new { @class = "form-control" })
                @Html.ValidationMessage("CategoryViewModel.Name")
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="submit" value="Potvrdi" />
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Greška!</strong> @Model.ErrorMessage
            </div>
        </div>
    </div>
}
