﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Prodavnica satova</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/images/slika11.png" width="1140" />
                    <div class="carousel-caption">
                        <h3>Tvoj zivot</h3>

                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/slika12.png" width="1140" />
                    <div class="carousel-caption">
                        <h3>Tvoje vreme</h3>

                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/slika13.png" width="1140" />
                    <div class="carousel-caption">
                        <h3>Ne traci ih</h3>
                    </div>
                </div>


            </div>
        </div>



        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Satovi", "Index", "Product", new { area = "Products" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Početna", "Index", "Product", new { area = "Products" }, null)</li>
                        <li class="active">@Html.ActionLink("Korpa", "Index", "Cart", new { area = "Products" }, null)</li>
                        <li class="active">@Html.ActionLink("Delovi", "Index", "Delovi", new { area = "Products" }, null)</li>
                        @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Administracija
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Satovi", "Index", "Product", new { area = "Administrations" }, null)</li>
                                    <li>@Html.ActionLink("Marka", "Index", "Brand", new { area = "Administrations" }, null)</li>
                                    <li>@Html.ActionLink("Tip", "Index", "Category", new { area = "Administrations" }, null)</li>
                                    <li>@Html.ActionLink("Korisnici", "Index", "User", new { area = "Administrations" }, null)</li>
                                    <li>@Html.ActionLink("Delovi", "Index", "Delovi", new { area = "Administrations" }, null)</li>
                                </ul>
                            </li>
                        }
                    </ul>
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Account/Logout"><span class="glyphicon glyphicon-log-out"></span> Izloguj se</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Registruj se</a></li>
                            <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Uloguj se</a></li>
                        </ul>
                    }
                </div>
            </div>
        </nav>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Satovi</p>





        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
