﻿@model Softversko2.EStore.Web.Areas.Administrations.Models.DeloviSinglePageViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kreiranje/izmena podataka o Delu</h2>
<hr />

@if (Model.Success)
{
    using (Html.BeginForm("Edit", "Delovi", null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.DeoViewModel.DeoId)
        <div class="form-group">
            <label class="control-label col-md-2">Ime dela:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.DeoViewModel.Ime, new { @class = "form-control" })
                @Html.ValidationMessage("DeoViewModel.Ime")
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Opis:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(x => x.DeoViewModel.Opis, new { @class = "form-control" })
                @Html.ValidationMessage("DeoViewModel.Description")
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Cena:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.DeoViewModel.Cena, new { @class = "form-control" })
                @Html.ValidationMessage("DeoViewModel.Cena")
            </div>
        </div>
       
        <div class="form-group">
            <label class="control-label col-md-2">Veličina:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.DeoViewModel.Velicina, new { @class = "form-control" })
                @Html.ValidationMessage("DeoViewModel.Velicina")
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Marka:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.DeoViewModel.BrandId, new SelectList(Model.BrandViewModels, "BrandId", "Name"), new { @class = "form-control" })
                @Html.ValidationMessage("DeoViewModel.BrandId")
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Slike:</label>
            <div class="col-md-10">
                <input type="file" id="fileToUpload" name="fileUpload" multiple="multiple" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="submit" value="Potvrdi" />
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Greška!</strong> @Model.ErrorMessage
            </div>
        </div>
    </div>
}
