﻿@model Softversko2.EStore.Web.Areas.Administrations.Models.DeloviListPageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Podaci o Delovima </h2>>
<hr />

@if (Model.Success)
{
    @Html.RouteLink("Kreiraj nov",
        new
        {
            action = "Create",
            controller = "Delovi",
            area = "Administrations"
        },
        new { @class = "btn btn-default" }
    )
    <table class="table table-bordred table-striped">
        <thead>
            <tr>
                <th>Ime dela</th>
                <th>Ime marke</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var deo in Model.DeoViewModels)
            {
                <tr>
                    <td>@deo.Ime</td>
                    <td>@deo.BrandName</td>
                    <td>
                        <a href="@Url.Action("Edit", "Delovi", new { deoId = deo.DeoId })" class="btn btn-primary-table btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="@Url.Action("Delete", "Delovi", new { deoId = deo.DeoId })" class="btn btn-primary-table btn-xs" onclick="return confirm('Da li ste sigurni da želite da obrišete dati deo?')"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Greška!</strong> @Model.ErrorMessage
            </div>
        </div>
    </div>
}
