﻿@model Softversko2.EStore.Web.Areas.Products.Models.AllProductsPageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Satovi</h2>
<hr />
<form class="navbar-form navbar-fixed-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

            @if (Model.Success)
            {
                <div class="row">
                    <div class="col-md-12">
                        @foreach (var p in Model.ProductViewModels)
                        {
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <h4 class="text-center"><span class="label label-info">@p.BrandName</span></h4>
                                    <img src="@Url.Action("GetImage", "Product", new { p.ProductId, area = "Products" })" style="height: 250px" />
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>@p.Name</h3>
                                            </div>
                                            <div class="col-md-6 price">
                                                <h3>
                                                    <label class="pull-right">@p.Price DIN</label>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a class="btn btn-primary btn-block"><span class="glyphicon glyphicon-list"></span> Više</a>
                                            </div>
                                            <div class="col-md-6">
                                                @using (Html.BeginForm("AddToCart", "Cart"))
                                                {
                                                    @Html.Hidden("productId", p.ProductId)
                                                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                                    <button type="submit" class="btn btn-success btn-block">
                                                        <span class="glyphicon glyphicon-shopping-cart"> Kupi</span>
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Greška!</strong> @Model.ErrorMessage
                        </div>
                    </div>
                </div>
            }
