﻿@model Softversko2.EStore.Web.Models.Users.UserViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>Logovanje</h2>
<hr />

@if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Greška!</strong> @ViewBag.ErrorMessage
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("Login", "Account", new { area = "" }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="control-label col-md-2">E-mail:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            @Html.ValidationMessage("Email")
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Lozinka:</label>
        <div class="col-md-10">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            @Html.ValidationMessage("Password")
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-default" type="submit" value="Potvrdi" />
        </div>
    </div>
}
