﻿
@{
    ViewBag.Title = "DiscountSelection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kod za popust</h2>
<hr />

@using (Html.BeginForm("DiscountSelection", "Cart", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="control-label col-md-2">Kod za popust:</label>
        <div class="col-md-10">
            @Html.TextBox("discountCode", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-default" type="submit" value="Potvrdi" />
        </div>
    </div>
}
