﻿@model Softversko2.EStore.Model.Entities.Shipping.ShippingDetails

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adresa za dostavu</h2>
<hr />

@using (Html.BeginForm("ShippingAddress", "Cart", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="control-label col-md-2">Adresa:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Grad:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">ZIP kod:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Zip, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Zemlja:</label>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-default" type="submit" value="Potvrdi" />
        </div>
    </div>
}
